<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		
		{% stylesheets '@twbs_css' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>

	<body>
	<div class="container">
		<div class="page-header">
			<h1 class="text-center">Nintendo Friends</h1>
			<ul class="nav nav-pills">
				<li role="presentation" {% if app.request.attributes.get("_route") == "fos_user_profile_show" %} class="active"{% endif %}><a href="{{ path('core_accueil') }}">Accueil</a></li>
				<li role="presentation" {% if app.request.attributes.get("_route") == "fos_user_registration_register" %} class="active"{% endif %}><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				  <li role="presentation" {% if app.request.attributes.get("_route") == "fos_user_profile_show" %} class="active"{% endif %}><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
				{% else %}  
				  <li role="presentation" {% if app.request.attributes.get("_route") == "fos_user_security_login" %} class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				{% endif %}
			</ul>
		</div>
		
		{% block body %}
		{% endblock %}
		
		<footer class="text-center">
		  <p>Nintendo Friends © {{ 'now'|date('Y') }}</p>
		</footer>
	</div>
	
	
	{% javascripts '@twbs_js_and_jq' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	</body>
</html>