{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show">
	<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
	<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
	<p>dateNaissance : {{ user.dateNaissance|date('d/m/Y') }}</p>
	<p>sexe : {{ user.sexe }}</p>
	<p>codeAmi: {{ user.codeAmi }}</p>
	<p>nnid : {{ user.nnid }}</p>
	<p>skype : {{ user.skype }}</p>
</div>
